# Prep Notebook 3
## Intro to Supervised Learning & Simple Linear Regression

This optional notebook has a few exercises that can serve as a primer for what to expect in the `Problem Session 3` notebook.

#### 1. Reading a .csv file

Read in the `carseats.csv` file using `pandas`. Store it in a variable named `carseats`.

<i>Note: `carseats.csv` is stored in the `data` folder of the repository.</i>

In [ ]:
## code here

#### 2. Exploring

- How many observations are in `carseats`?
- What are the columns of `carseats` called?
- Display the first five rows of `carseats`.
- What are the mean values of `Age` and `Education`?

In [ ]:
## code here

In [ ]:
## code here

In [ ]:
## code here

In [ ]:
## code here

In [ ]:
## code here

#### 3. `.info`

Use `pandas` `.info()` function to check if `carseats` has any missing values, <a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html">https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html</a>.

In [ ]:
## code here

#### 4. Scatter and line plots.

- Make a scatter plot of `Sales` against `Price`. 
- Plot a horizontal line at the average value of `Sales` that runs from the minimum value of `Price` - $10$ to the maximum value of `Price` + $10$, make this line red and dotted.

In [ ]:
## code here

In [ ]:
## code here

In [ ]:
## code here

#### 5. `for` loop

Write a `for` loop that prints out the `Sales` and `Price` for each row of `carseats`.

In [ ]:
## code here

In [ ]:
## code here

#### 6. `.apply`

Learn how to use `.apply` to apply the function `multiply_by_two` to the `Price` column of `carseats`.

<a href="https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html">https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html</a>

In [ ]:
def multiply_by_two(x):
    return 2*x

In [ ]:
## code here

In [ ]:
## code here

--------------------------

This notebook was written for the Erd&#337;s Institute C&#337;de Data Science Boot Camp by Matthew Osborne, Ph. D., 2023.

Any potential redistributors must seek and receive permission from Matthew Tyler Osborne, Ph.D. prior to redistribution. Redistribution of the material contained in this repository is conditional on acknowledgement of Matthew Tyler Osborne, Ph.D.'s original authorship and sponsorship of the Erd≈ës Institute as subject to the license (see License.md)